@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #ffffff 0%, #f3f4f6 50%, #e5e7eb 100%);
  --foreground: #0f172a; /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
